{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
	"jsxBracketSameLine": true,
	"parser": "typescript",
	"proseWrap": "never",
	"arrowParens": "avoid",
  "plugins": [
    "prettier-plugin-astro",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [{
    "files": "*.astro",
    "options": {
      "parser": "astro"
    }
  }]
}
