---
import { COMMUNITY_INVITE_URL } from '../../constants';
import { FiEdit2, FiTwitch } from 'react-icons/fi';

type Props = {
	editHref: string;
};

const { editHref } = Astro.props;
const showMoreSection = Boolean(COMMUNITY_INVITE_URL);
---

{showMoreSection && <h2 class='text-gray-12 mt-4 mb-2 hidden font-semibold md:block'>More</h2>}
<ul class='flex flex-col items-center gap-2 text-sm md:items-start'>
	{
		editHref && (
			<li class='text-mono-9 hover:text-mono-10 hidden md:block'>
				<a class='flex items-center gap-2' href={editHref} target='_blank'>
					<span>
						<FiEdit2 className='h-4 w-4' aria-hidden='true' focusable='false' />
					</span>
					<span> Edit this page</span>
				</a>
			</li>
		)
	}
	{
		COMMUNITY_INVITE_URL && (
			<li class='text-mono-9 hover:text-mono-10 hidden md:block'>
				<a href={COMMUNITY_INVITE_URL} target='_blank' class='flex items-center gap-2'>
					<FiTwitch className='h-4 w-4' aria-hidden='true' focusable='false' />
					<span>Join our community</span>
				</a>
			</li>
		)
	}
</ul>

<style>
	.edit-on-github {
		text-decoration: none;
		font: inherit;
		color: inherit;
		font-size: 1rem;
	}
</style>
