---
import type { MarkdownHeading } from 'astro';
import TableOfContents from './TableOfContents';
import MoreMenu from './MoreMenu.astro';

type Props = {
	headings: MarkdownHeading[];
	githubEditUrl: string;
};

const { headings, githubEditUrl } = Astro.props;
---

<nav aria-labelledby='on-this-page-heading' class='w-56'>
	<TableOfContents client:media='(min-width: 50em)' headings={headings} />
	<MoreMenu editHref={githubEditUrl} />
</nav>
